In [3]:
import pandas as pd
df = pd.read_csv('clusters_to_number_of_cells.txt', header=None, delimiter = ",")

In [7]:
df.columns = ["SRA accession", "SRS accession", "Cluster index", "Number of cells"]

In [8]:
df

      SRA accession SRS accession  Cluster index  Number of cells
0         SRA599311    SRS2431649              6               90
1         SRA599311    SRS2431649              1              174
2         SRA599311    SRS2431649              0              322
3         SRA599311    SRS2431649              2              130
4         SRA599311    SRS2431649              3              120
...             ...           ...            ...              ...
20055     SRA815737    SRS4087867              7              163
20056     SRA815737    SRS4087867             19               13
20057     SRA815737    SRS4087867             14               77
20058     SRA815737    SRS4087867             20                9
20059     SRA815737    SRS4087867             18               21

[20060 rows x 4 columns]

In [11]:
l = df.groupby('SRS accession')['Number of cells'].sum()
df2 = pd.DataFrame(data=l)
df2

               Number of cells
SRS accession
SRS1467249                1790
SRS1467250                2500
SRS1467251                2324
SRS1467252                2759
SRS1467253                4211
...                        ...
SRS866909                 2773
SRS866910                 1591
SRS866911                 3242
SRS866912                 3116
notused                  27355

[1352 rows x 1 columns]

In [13]:
df3 = pd.read_csv('metadata.txt', header=None, delimiter = ",")
df3.columns = ["SRA accession", "SRS accession", "Tissue origin of the sample", "scRNA-seq protocol","Species","Sequencing instrument","Number of expressed genes","Median number of expressed genes per cell","Number of cell clusters in this sample","Is the sample from a tumor? (1 true otherwise false)","Is the sample from primary adult tissue?","Is the sample from a cell line?"]

In [14]:
df3

,SRA accession,SRS accession,Tissue origin of the sample,scRNA-seq protocol,Species,Sequencing instrument,Number of expressed genes,Median number of expressed genes per cell,Number of cell clusters in this sample,Is the sample from a tumor? (1 true otherwise false),Is the sample from primary adult tissue?,Is the sample from a cell line?
0,SRA599311,SRS2431649,Mesenteric,10x chromium,Mus musculus,Illumina HiSeq 2500,21948,1249,12,0,1,0
1,SRA611700,SRS2532370,Subcortex,10x chromium,Mus musculus,Illumina HiSeq 2500,29691,1979,17,\N,\N,\N
2,SRA605557,SRS2493625,Cd14+ monocytes,10x chromium,Homo sapiens,Illumina HiSeq 2500,17438,1293,3,0,1,0
3,SRA508949,SRS1876783,Small intestine,10x chromium,Mus musculus,NextSeq 500,18383,2543,8,0,1,0
4,SRA711898,SRS3349280,Tonsil,10x chromium,Homo sapiens,Illumina HiSeq 2500,28726,1777,15,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1364,SRA815737,SRS4087860,Embryo,10x chromium,Mus musculus,Illumina NovaSeq 6000,28832,3092,15,0,0,0
1365,SRA815737,SRS4087861,Embryo,10x chromium,Mus musculus,Illumina NovaSeq 6000,27700,2891,16,0,0,0
1366,SRA815737,SRS4087863,Embryo,10x chromium,Mus musculus,Illumina NovaSeq 6000,25368,2048,14,0,0,0
1367,SRA815737,SRS4087866,\N,10x chromium,Mus musculus,Illumina NovaSeq 6000,26442,2401,14,\N,\N,\N
1368,SRA815737,SRS4087867,\N,10x chromium,Mus musculus,Illumina NovaSeq 6000,29608,3820,20,\N,\N,\N

In [15]:
df4 = pd.merge(left=df3, right=df2, left_on='SRS accession', right_on='SRS accession')

In [16]:
df4

,SRA accession,SRS accession,Tissue origin of the sample,scRNA-seq protocol,Species,Sequencing instrument,Number of expressed genes,Median number of expressed genes per cell,Number of cell clusters in this sample,Is the sample from a tumor? (1 true otherwise false),Is the sample from primary adult tissue?,Is the sample from a cell line?,Number of cells
0,SRA599311,SRS2431649,Mesenteric,10x chromium,Mus musculus,Illumina HiSeq 2500,21948,1249,12,0,1,0,1352
1,SRA611700,SRS2532370,Subcortex,10x chromium,Mus musculus,Illumina HiSeq 2500,29691,1979,17,\N,\N,\N,8150
2,SRA605557,SRS2493625,Cd14+ monocytes,10x chromium,Homo sapiens,Illumina HiSeq 2500,17438,1293,3,0,1,0,390
3,SRA508949,SRS1876783,Small intestine,10x chromium,Mus musculus,NextSeq 500,18383,2543,8,0,1,0,676
4,SRA711898,SRS3349280,Tonsil,10x chromium,Homo sapiens,Illumina HiSeq 2500,28726,1777,15,0,1,0,3328
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1362,SRA815737,SRS4087860,Embryo,10x chromium,Mus musculus,Illumina NovaSeq 6000,28832,3092,15,0,0,0,6323
1363,SRA815737,SRS4087861,Embryo,10x chromium,Mus musculus,Illumina NovaSeq 6000,27700,2891,16,0,0,0,6070
1364,SRA815737,SRS4087863,Embryo,10x chromium,Mus musculus,Illumina NovaSeq 6000,25368,2048,14,0,0,0,2341
1365,SRA815737,SRS4087866,\N,10x chromium,Mus musculus,Illumina NovaSeq 6000,26442,2401,14,\N,\N,\N,9945
1366,SRA815737,SRS4087867,\N,10x chromium,Mus musculus,Illumina NovaSeq 6000,29608,3820,20,\N,\N,\N,4333

In [17]:
df4.to_csv("PanglaoDB", sep="\t", index=False)